.static-card {
    width: max-content;
    background-color: #019a5d !important;
    border-radius: 15px !important;
    position: fixed;
    z-index: 999;
    right: 13px;
    top: 146px
}

.static-btns {
    display: flex;
    flex-direction: column;
    text-transform: capitalize !important;
    color: white !important;
    padding: 10px 4px !important;

}