.footer {

    background-color: #019a5d;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px  #CCC solid;
    box-shadow: inset 0px 11px 8px -10px #CCC,
            inset 0px -11px 8px -10px #CCC;  */

}
.footer-buttons {
    color: #019a5d !important;
    background-color: white !important;
    margin-right: 1.3rem !important;
}