.plan-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    list-style: none;
    margin: 0rem !important;justify-content: center;
}

#menu li{
    display: inline;
    padding: 0 10px;
    border-left: solid 2px black;
    color: white;
  }
  .medha-plan-heading {
    text-align: center;
    color: white;
    padding: 10px;
  }

  .featutre-cards {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}
p{
line-height: 1.4rem;
}
.medha-plan{
  background-color: #00B0F0 !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

 td, th {
  border:  1px solid black !important;
  text-align: center;
  padding: 4px;
}


.plan-table{
  text-align: center;
  margin: auto;
  position: relative;
  left: 10%;
  right:10%;
  padding-bottom: 30px;

}
.t-header{
color: white !important;
}
.d-header{
font-weight: bold !important;
}
.d-rows{
  background-color: #fff !important;
}

.p-row{
  background-color: black !important;
  color: #fff !important;
}
.t-button{
  background-color: rgb(63, 201, 63) !important;
  color: #fff !important;
  font-size: 0.8rem !important;
}
.ques-content{
  font-size: 1.1rem;
  font-family: math;
  line-height: 1.6;
}