.icon-microscope1:before {
    content: "\e9bb";
}

.about_count {
    text-align: center;
    font-size: 1.1250em;
    color: #5d5d5d;
}




.header-base {
    height: 8.625em;
    width: 100%;
    display: block;
    margin-top: -8.625em;
    visibility: hidden;
}

.about-us-about-founder {
    background: transparent linear-gradient(128deg, rgba(25, 165, 160, 1) 0%, rgba(16, 132, 128, 1) 100%) 0% 0% no-repeat padding-box;
}

.section-padding-lg {
    padding: 4em 15px;
}

.container {
    max-width: 94%;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}


.about-us-founder-info .img-wrap {
    width: 9.625em;
    height: 9.625em;
    border-radius: 50%;
    border: 0.188em solid #fff;
    overflow: hidden;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.16);
    position: relative;
}

.about-us-founder-details {
    background-color: #fff;
    border-radius: 0.375em;
    padding: 6em 1.813em 2em;
    max-width: 20em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4.813em;
    box-sizing: content-box;
}



.section-content.light-content, .section-content.light-content > p {
    color: #ffffff;
}