.about-content{
    font-size: 1.1rem;
    font-family: math;
    line-height: 1.6;

}
.card-content{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;

}
.card-text{
    font-weight: 600 !important;
    font-size: 1.1rem !important;
    color: black !important;
}
.about-heading{
    background-color:#94ECB3 ;
    padding: 5px 0px;
}