.upload {

    .heading {
        background-color: #019a5d;
        text-align: center;
        color: white;
        padding: 10px;
    }

    .subheading {
        color: 019a5d;
        padding: 16px 0px 5px 0px;
        text-align: center;

    }

    .content {
        color: #6d8190;
        text-align: center;
    }

    .label {
        display: block;
        color: #6d8190;
        padding: 0px 0px 5px 0px;
    }

    .check {
        color: #6d8190;
        padding: 0px 0px 15px 9px;

    }

    .label1 {
        display: block;
        color: #6d8190;
        padding: 0px 0px 5px 0px;
        margin-bottom: 0px;
    }


}

.upload {
    width: 50% !important;
    margin: auto;
    padding-bottom: 2.2 rem;
}