
.franchise-row {
    margin-left: -1.5em;
    margin-right: -1.5em;
}

.page-content {
    padding-top: 2.25em;
}

.containerBox {
    padding: 3rem;
    padding-top: 1rem;
}

.franchise-why-partner-section {
    padding-top: 1rem;
    padding-bottom: 1.3rem;
}

.section-content h3.sub-heading {
    font-family: 'latosemibold';
}

.franchise-why-partner-section h3.top-subheading {
    font-size: 25px;
}

.section-content > p {
    font-size: 15px;
}

.header-content {
    padding-left: 1.3rem;

}


