
  
  /* Media Queries */
  
  /* For medium-sized screens */

  @media (max-width: 820px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr); /* Display 3 images per row */
      align-content: center;
    }
  }
  
  /* For small-sized screens */
  @media (max-width: 480px) {
    .image-grid {
      grid-template-columns: repeat(1, 1fr); /* Display 2 image per row */
    }
  }
  .im-co{
  
    width:168px !important ;
    padding: 8px 0px;
 
  
}
.image-grid{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0px;
    padding: 0px 5px;
}
a{
  color: black !important ;
  text-decoration: none !important;

}
a:hover{
  color: none !important;
}
.image{
  border: 2px solid #e6e6e6;;
}
.image-card{
  font-size: 0.9rem;
  display: block;
  text-align: center;
  padding: 0.3rem;
}