.team-card{
  
    width:225px ;
  
}
.container-fluid{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    padding: 6px 0px !important;
}
.team-heading{
  color: white;
}
.doc-name{
  color: white;
}


@media (max-width: 820px) {
  .im-co{
    width:50%
  }
  }

  @media (max-width: 480px) {
   .im-co{
    width:100%
   }
  }  
