.radiology li {
    margin-bottom: 0.4rem;
    font-size: 1em;
}

.lab-heading {
    text-align: center;
    color: white;
    padding: 10px;
}
.lab-button{
    background-color: #5B9BD5 !important;
    color: white !important;
    text-transform: none !important;
    margin-right: 0.2rem !important;

}
.lab-button:hover{
    background-color: none !important;
   
}
.lab-subheading{
    margin-bottom: 0rem !important;
}

