.css-1q9uik-MuiInputBase-root {
    width: '99% !important'
}

.button {
    background-color: #019a5d !important;
    color: white !important;
    border-radius: 4.2px;
    text-transform: capitalize !important;
}

.btn:hover {
    background-color: none !important;
    color: none !important;
}

/* To reduce the height of text field */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 0.4375em !important;
}

/* To reduce the height of Autocomplete */
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    height: 0.4375em !important;
}

.center {
    text-align: center;
}

.required {
    color: red;
}
.appbar-div {
    position: 'relative';
    top: '90px';
    padding-bottom: "40px";
    width: '50%';
    left: '25%'
}

.text-white {
    color: #ffff;
}

/* to display the dropdown from navbar */
.css-15d4sl0-MuiPaper-root-MuiAppBar-root {
    z-index: 999 !important;
}

